<h1>
	Welcome to WhatsWrongWithPresentations.com! We are here to kill bad presentations.
</h1>

<p>
We've gone through life seeing teachers teach, watching salesmen sell, watching ceo's...well ceo and we've come to one conclusion.
There's is a fundamental problem with the way people think about presenting. The unfortunate reality is that the majority of the
world just doesn't know how to present.
</p>

<p>
	The mission of this site is to change the world one presentaiton at a time.
</p>

<p>
	<div class='center-justified'>
	<%= link_to image_tag("introduction.png", :class=>'index_image_link'), '/comingsoon' %>
	<%= link_to image_tag("lessons.png", :class=>'index_image_link'), '/comingsoon' %>
	<%= link_to image_tag("videos.png", :class=>'index_image_link'), '/comingsoon' %>
	<%= link_to image_tag("materials.png", :class=>'index_image_link'), '/comingsoon' %>
	<%= link_to image_tag("feedback.png", :class=>'index_image_link'), '/comingsoon' %>
	</div>
</p>
