<div class="loginform">
	<div class="roundedrectangleheader">
		<h1>Register</h1>
	</div>
	<div class="roundedrectanglebody">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', :object => @user %>
		<div class="field">
			<%= f.label :email %>
			<br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :first_name %>
			<br />
			<%= f.text_field :first_name %>
		</div>
		<div class="field">
			<%= f.label :last_name %>
			<br />
			<%= f.text_field :last_name %>
		</div>
		<div class="field">
			<%= f.label :display_name %>
			<br />
			<%= f.text_field :display_name %>
		</div>
		<div class="field">
			<%= f.label :password %>
			<br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation, "Confirmation" %>
			<br />
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="actions">
			<%= f.submit "Sign Up" %>
		</div>
		<% end %>
	</div>
</div>
