<h1>Lessons</h1>

<p>
	Section A lessons are all about philosophy and the way we think about presentations.
<ul>
	<li><%= link_to "LE-A1: Who are you?", "/comingsoon" %></li>
	<li><%= link_to "LE-A2: Why are Presentations Important", "/comingsoon" %></li>
	<li><%= link_to "LE-A3: Types of Presentations", "/comingsoon" %>
</ul>
</p>
<p>
	Section B lessons are direct tools and techniques you can apply to your presentations today.
<ul>
	<li><%= link_to "LE-B1: Orient the Audience", "/comingsoon" %></li>
	<li><%= link_to "LE-B2: Know Your Audience", "/comingsoon" %></li>
	<li><%= link_to "LE-B3: Less is more", "/comingsoon" %></li>
</ul>
</p>

<p>
	Section C lessons deal with the various multimedia tools you can play with
<ul>
	<li><%= link_to "LE-C1: Powerpoint", "/comingsoon" %></li>
	<li><%= link_to "LE-C2: Projectors", "/comingsoon" %></li>
	<li><%= link_to "LE-C3: Whiteboards", "/comingsoon" %></li>
	<li><%= link_to "LE-C4: The Room", "/comingsoon" %></li>
</ul>
</p>

<p>
	Section D lessons deal with demoming software
<ul>
	<li><%= link_to "LE-D1: Making it look simple", "/comingsoon" %></li>
	<li><%= link_to "LE-D2: Benefits Focus", "/comingsoon" %></li>
</ul>
</p>

<p>
	Section E lessons deal with being a good audience member
<ul>
	<li><%= link_to "LE-E1: Being a Good Audience", "/comingsoon" %></li>
</ul>
</p>