<h1>
  <%= @lesson.title %>
</h1>
<p>
  <%= raw(@lesson.content) %>
</p>
<p>
  <%= @lesson.updated_at.strftime("Last Updated %B %d, %Y") %>
</p>

<% if admin? %>
	<%= link_to 'Edit', edit_lesson_path(@lesson) %> | <%= link_to 'Destroy', @lesson, :confirm => 'Are you sure?', :method => :delete %> | 
<% end %>
<%= link_to 'Back', lessons_path %>