<header>
	<div class="right-justified">
		<%= logo %>

		<% unless @hide_header_links %>	
			<nav class="round">
				<%= link_to image_tag("home.png", :class=>'header_image_link'), root_path, {:title => "home"} %>
				<%= link_to image_tag("introduction.png", :class=>'header_image_link'), '/introduction', {:title => "introduction"} %>
				<%= link_to image_tag("lessons.png", :class=>'header_image_link'), '/lessons', {:title => "lessons"} %>
				<%= link_to image_tag("videos.png", :class=>'header_image_link'), '/comingsoon', {:title => "videos"} %>
				<%= link_to image_tag("materials.png", :class=>'header_image_link'), '/comingsoon', {:title => "materials"} %>
				<%= link_to image_tag("feedback.png", :class=>'header_image_link'), '/comingsoon', {:title => "feedback"} %>
			</nav>
		<% end %>
	</div>
</header>
